[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Iteam
Type=Application
Path=/
Terminal=false
Icon[en_GB]=iteam.xpm
Name[en_GB]=Iteam Launcher
Exec=run
Icon=//iteam.xpm
GenericName[en_GB]=
