Package: i-team
Essential: no
Priority: optional
Section: games
Maintainer: KIAaze <zohn@users.sourceforge.net>
Architecture: i386
Version: 0.1
Depends: libfreetype6, libsdl1.2debian,libsdl-mixer1.2, libsdl-image1.2, libsdl-gfx1.2-4, libglut3
Pre-Depends:
Provides: libgp2d
Conflicts:
Installed-Size: 6504
Description: i-team
	A turn-based artillery game similar to Gunbound.
